@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html, body {
    background: #979797;
    margin:0;
    color:#FFFFFF;
    overflow: hidden;
}

.landing {
position: relative;
background-image: url('img/back.png');
background-size: cover;
background-position: center;
height:100vh;
}

.landing-inner {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding-top:10px;
}

.landing-inner img {
    max-width: 400px;
    width:100%;
}



.landing h1 {
    font-size:50px;
}

.landing p {
    font-size:30px;
}

.countdown {
    font-size:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown div {
    margin:5px;
    padding:10px;
    border: solid #FFFFFF 2px;
    border-radius: 20px;
    opacity: 0.8;
    background-color: #000000;
}

.countdown div:first-child {
    background-color: #244232;
}

.countdown span {
    display: block;
    font-size: 15px;
}

@media (max-width:650px) {
    .landing img {
        width:70%;
    }

    .landing-inner h1 {
        font-size: 40px;
    }

    .countdown {
        font-size: 30px;
    }

    .countdown div {
        display: none;
    }

    .countdown div:first-child {
        display: block;
        width: 80%;
    }
}